@use "global" as *;
/*
// ==========
// btn
// ==========
*/
.btn {
  display: inline-block;
  padding: rem(11) rem(42.5);
  color: $white;
  background: $red;
  border: 2px solid $red;
  border-radius: rem(10);
  font-size: rem(16);
  font-weight: bold;
  letter-spacing: 0.12em;
  line-height: 1.8;
  transition: all .3s;
  @include mq() {
    font-size: rem(31);
    padding: rem(5) rem(16);
    border-radius: rem(4);
  }
  @include mq(lg) {
    font-size: rem(16);
  }
  &:focus,
  &:hover {
    color: $red;
    background: $white;
  }
}

.section__btnArea {
  padding-top: rem(100);
  text-align: center;
}