@use "global" as *;
/* 
// ==========
// card 
// ==========
*/
.cards {
  display: flex;
  flex-wrap: wrap;
}

.flex__item {
  margin-bottom: rem(100);
}

.card__imgArea {
  max-width: rem(540);
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(30);
  @include mq() {
    max-width: rem(350);
  }
}

.card__title {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.12em;
  line-height: 1.2;
  @include mq() {
    font-size: rem(20);
  }
}

.card__price {
  font-size: rem(20);
  font-weight: bold;
  letter-spacing: 0.07em;
  line-height: 1.8;
}

.card__priceUnit {
  font-size: rem(12);
}

.card__text {
  font-size: rem(12);
  font-weight: normal;
  left: 0.12em;
}

.card__text--small {
  font-size: rem(10);
  display: inline-block;
  color: $black;
  font-weight: normal;
}
/* cards--col2 */
.cards--col2 {
  margin-bottom: rem(-100);
  @include mq() {
    max-width: rem(800);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem(-130);
  }
}

.cards--col2 > .cards__item {
  margin-bottom: 2rem;
  width: calc((100% - 2rem) / 2);
  margin-right: 2rem;
  @include mq() {
    width: calc((100% - 6.25rem) / 2);
    margin-right: 6.25rem;
    margin-bottom: rem(100);
  }
  @include mq(lg) {
    margin-bottom: rem(130);
  }
  &:nth-child(2n) {
    margin-right: 0;
  }
}
